<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    <link rel="stylesheet" href="./css/App.css" type="text/css">
    <title>Ranting App</title>
  </head>
  <body>
    <h1>Ranting App</h1>
    <div id="app"></div>
  </body>
  <script src="bundle.js"></script>
</html>
