body {
    background-color: pink;
    font-size: 24px;
    text-align: center;
}

input {
    width: 100px;
    margin: 0 10px;
}

#text {
    display: block;
    margin: 0 auto;
}

#countdown {
    display: block;
    font-size: 36px;
}